﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(images/story/collage.png);">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluids">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
                                <div class="slider-text-inner text-center">
                                    <h1>Read Our Stories Below</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="fh5co-blog">
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#" class="blog-bg" style="background-image: url(images/story/s1.png);"></a>
                    <div class="blog-text">
                        <span class="posted_on">Oct. 10th 2020</span>
                        <h3><a href="#">Dedeker’s Story</a></h3>
                        <p>Dedeker Winston is an author, relationship coach, podcast host, and survivor of intimate partner violence.
                        “What I want on a T-shirt or maybe my gravestone is the phrase ‘no jerk is worth it.’
                        You are worth so much more. Every single person is worth so much more than putting up with abusive behavior.”.</p>
                        <ul class="stuff">
                            <li><i class="icon-heart3"></i>102</li>
                            <li><i class="icon-eye2"></i>32</li>
                            <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#" class="blog-bg" style="background-image: url(images/story/s2.png);"></a>
                    <div class="blog-text">
                        <span class="posted_on">Oct. 10th 2020</span>
                        <h3><a href="#">Nicole's Story</a></h3>
                        <p>Nicole is strongly connected to her Peruvian heritage and is dedicated to her faith community.
                        She is also a survivor of child sexual abuse. “I don’t know if anyone can understand this, but my faith healed me.
                        I just know that I’ll be okay. I’m no longer just trying to survive, life is about living everyday to your greatest potential.”.</p>
                        <ul class="stuff">
                            <li><i class="icon-heart3"></i>212</li>
                            <li><i class="icon-eye2"></i>78</li>
                            <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#" class="blog-bg" style="background-image: url(images/story/s3.png);"></a>
                    <div class="blog-text">
                        <span class="posted_on">Oct. 10th 2020</span>
                        <h3><a href="#">Samantha's Story</a></h3>
                        <p>Samantha Lynn is a musician, member of the LGBTQ community, and survivor of sexual violence.
                        "Music is how I talk about what happened. Every time I share my story in a performance,
                        people come up to me after to say they’re survivors, too. It’s so healing to know you’re not alone."</p>
                        <ul class="stuff">
                            <li><i class="icon-heart3"></i>98</li>
                            <li><i class="icon-eye2"></i>78</li>
                            <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div><!-- END container-wrap -->