﻿@{
    ViewData["Title"] = "Home Page";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(images/1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>Save Me, Save Us</h1>
                                <h2>Register Now!! To Get Your SaveMe Beacon</h2>
                                <p> <a class="btn btn-primary btn-learn" asp-controller="SaveMe" asp-action="Index">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <li style="background-image: url(images/4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>Our Stories</h1>
                                <h2>We would like to share our stories</h2>
                                <p><a class="btn btn-primary btn-learn" asp-controller="Story" asp-action="Index">More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <i class="icon-user-check"></i>
                </span>
                <div class="desc">
                    <h3><a asp-area="Identity" asp-page="/Account/Register">Register</a></h3>
                    <p>Register to request your SaveMe Beacon.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <i class="icon-cart"></i>
                </span>
                <div class="desc">
                    <h3><a href="#">Collect / Pick Up</a></h3>
                    <p>Collect your Beacon and keep with you at all times to activate if feeling compromised</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <i class="icon-shield2"></i>
                </span>
                <div class="desc">
                    <h3><a href="#">Activate</a></h3>
                    <p>When feeling compromised, activate beacon and emergency services will respond.</p>
                </div>
            </div>
        </div>
    </div>
</div>