﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center animate-box fadeInUp animated-fast">
        <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(../../../../images/blog-1.jpg);"></a>
            <div class="blog-text">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <h4>Enter your email to reset password.</h4>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
