﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center animate-box fadeInUp animated-fast">
        <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(../../../../images/3.jpg);"></a>
            <div class="blog-text">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        
                        <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>

    </div>
    
</div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
