﻿@model SaveUs.Models.Monitor.RegisterBeaconInputModel
    <hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center animate-box fadeInUp animated-fast">
        <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(../../../../images/blog-1.jpg);"></a>
            <div class="blog-text">

                <form asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" readonly="true"  />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BeaconId"></label>
                        <input asp-for="BeaconId" class="form-control" readonly="true"  />
                        <span asp-validation-for="BeaconId" class="text-danger"></span>
                    </div>
                    
                    <input type="submit" value="Register" class="btn btn-sm btn-success text-uppercase rounded-0" />
                </form>
            </div>
        </div>
    </div>
</div>
