﻿@model SaveUs.Models.Monitor.Locations.LocationLists
@{
    ViewBag.Title = "Monitor";
}

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/monitor.js"></script>
<script type='text/javascript'>
    
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
            credentials: 'ArGPOhzZJpPC1uz2QZtUoQxAMnBOFeip_fiaJLcBaD8w3YTEY1DLXKIUmv_gv9W8',
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 5
        });
    }
        //add markers to map
        @*@if (Model.LocationList != null)
        {
            foreach (var item in Model.LocationList)
            {
                @:addMarker(@item.Latitude, @item.Longitude, '@item.Title', '@item.Description', @item.LocationId);
            }
        }*@
    
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>

<div class="row">
    <div class="col-md-12 map">
        <div id="myMap" style="width:100%; height:610px;"></div>
    </div>
</div>  